.breadcrumb {
    padding: 24px 62px;
    text-transform: uppercase;
    display: flex;
    gap: 8px;
}

.splash {
    color: #4E4E4E;
}

.item {
    color: #898989;
    transition: all .3s ease-in-out;
}

.item a {
    color: #898989;
    transition: all .3s ease-in-out;
}

.item a:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.item.current {
    color: var(--black-color);
}

@media (max-width: 1400px) {
    .breadcrumb {
        padding: 24px 42px;
    }
}

@media (max-width: 992px) {
    .breadcrumb {
        display: none;
    }
}
