.wrapper {
    position: relative;
    display: inline-block;
}

.select {
    appearance: none;
    border-radius: 0;
    background: white;
    border: 1px solid #C4C4C4;
    text-transform: uppercase;
    padding: 18px 40px 18px 24px;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    justify-content: space-between;
    min-width: 100px;
    position: relative;
    height: 55px;
    width: 100%;
    text-align: left;
    font: inherit;
    color: inherit;
}

.select svg {
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;
    width: 16px;
    position: absolute;
    right: 18px;
}

.select.active svg {
    transform: rotate(180deg);
}

.select.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.dropdown {
    position: absolute;
    background: white;
    border: 1px solid #C4C4C4;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 20;
    overflow: hidden;
}

.dropdown .option {
    appearance: none;
    border: 0;
    cursor: pointer;
    padding: 18px 40px 18px 24px;
    display: inline-flex;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    gap: .5rem;
    background: white;
    position: relative;
    font: inherit;
    color: inherit;
}

.dropdown .option:hover {
    background: #F9F9F9;
}

.dropdown .option svg {
    width: 16px;
    margin-left: .5rem;
    vertical-align: text-bottom;
    position: absolute;
    right: 18px;
}

.color {
    height: 20px;
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: inline-block;
    border-radius: 50%;
}

.optionDisabled {
    opacity: 0.55;
    cursor: not-allowed!important;
    text-decoration: line-through;
}

.hint {
    margin-left: auto;
    font-size: 12px;
    color: #8C8C8C;
    text-transform: none;
}
