.loading_block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(234deg, #FFFFFF, #e0e0e0, #FFFFFF);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;

    font-size: 16px;
}

.loading_block::before {
    content: '';
    display: block;
    padding-bottom: 133.33%;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
