.container {
    padding: 24px 62px;
    display: grid;
    grid-template-columns: 1fr 550px;
    gap: 3rem;
    margin: 0 auto;
}

.details {
    position: relative;
}

.sticky {
    position: sticky;
    top: 25px;
}

.product_header {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.product_header .title {
    text-transform: uppercase;
    line-height: .9;
    font-size: 30px;
}

.product_header .prices {
    text-align: right;
}

.product_header .prices .discount {
    color: var(--secondary-color);
    position: relative;
    font-size: 16px;
}

.product_header .prices .discount svg {
    position: absolute;
}

.product_header .prices .price {
    font-size: 25px;
    font-weight: bolder;
}

.description {
    color: var(--secondary-color);
    margin-bottom: 3rem;
    text-transform: uppercase;
    line-height: 18px;
}

.options {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
}

.tabs {
    margin-bottom: 2rem;
}

@media (max-width: 1400px) {
    .container {
        grid-template-columns: 1fr 500px;
        padding: 24px 42px;
    }

    .product_header .title {
        font-size: 25px;
    }

    .product_header .prices .discount {
        font-size: var(--font-size);
    }

    .product_header .prices .price {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr 400px;
    }


    .product_header .title {
        font-size: 20px;
    }

    .product_header .prices .discount {
        font-size: var(--font-size);
    }

    .product_header .prices .price {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .container {
        display: block;
        padding: 0 0 24px 0;
        /*padding: 24px 0;*/
    }

    .details {
        padding: 0 1rem;
    }
}
