@import "~pure-react-carousel/dist/react-carousel.es.css";

/* Halvar Breitschrift */
@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('./fonts/halvar_font/Halvar Breitschrift Black.ttf') format('truetype'),
    url('./fonts/halvar_font/Halvar Breitschrift Black.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('./fonts/halvar_font/Halvar Breitschrift Bold.ttf') format('truetype'),
    url('./fonts/halvar_font/Halvar Breitschrift Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('./fonts/halvar_font/Halvar Breitschrift Medium.ttf') format('truetype'),
    url('./fonts/halvar_font/Halvar Breitschrift Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('./fonts/halvar_font/Halvar Breitschrift Regular.ttf') format('truetype'),
    url('./fonts/halvar_font/Halvar Breitschrift Regular.ttf') format('truetype');
    font-weight: normal;
}

/* Druk Wide Medium Cy */
@font-face {
    font-family: 'Druk Wide Medium Cy';
    src: url('./fonts/DRUK_WIDE_MEDIUM.otf') format('opentype'),
    url('./fonts/DRUK_WIDE_MEDIUM.otf') format('opentype');
    font-weight: normal;
}

:root {
    --max-width: 1600px;
    --font-text: 'Halvar Breitschrift', ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace, sans-serif;
    --font-header: "Druk Wide Medium Cy", sans-serif;

    --primary-color: #eb5328;
    --black-color: #151515;
    --secondary-color: #898989;
    --font-size: 13px;
    --border-radius: 15px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    color: var(--black-color);
    font-size: var(--font-size);
    letter-spacing: normal;
}

body {
    font-family: var(--font-text);
}

button {
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: var(--font-header);
}

h2 {
    text-transform: uppercase;
    font-size: 65px;
    line-height: 95%;
    margin-bottom: 12px;
}

h3 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 95%;
    margin-bottom: 12px;
}

@media (max-width: 1200px) {
    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }
}

@media (max-width: 992px) {
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }
}
