.product_item {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.product_item .product_info {
    display: flex;
    gap: 24px;
    align-items: center;
    flex: 1;
    min-width: 0;
}

.product_item .details {
    min-width: 0;
}

.product_item .image {
    position: relative;
    width: 110px;
    height: 140px;
    background: gray;
}

.product_item .image img {
    object-fit: cover;
    object-position: center;
}

.product_item .title {
    font-family: var(--font-header), sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 12px;
    line-height: 1;
}

.product_item .title_link {
    color: inherit;
    text-decoration: none;
}

.product_item .tags {
    display: flex;
    gap: 1rem;
}

.product_item .price_block {
    text-align: right;
    white-space: nowrap;
    width: 190px;
}

.product_item .summary_block {
    display: grid;
    grid-template-columns: max-content 190px;
    align-items: center;
    justify-content: end;
    column-gap: 24px;
    margin-left: 20px;
    min-width: 350px;
}

.product_item .price_block .discount {
    font-weight: 400;
    text-align: right;
    position: relative;
    color: var(--secondary-color);
}

.product_item .price_block .discount svg {
    position: absolute;
    top: -3px;
    right: 0;
}

.product_item .price_block .price {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    text-align: right;
}

@media (max-width: 1400px) {
    .product_item .title {
        font-size: 18px;
    }

    .product_item .image {
        width: 90px;
        height: 110px;
    }

    .product_item .price_block .price {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .product_item .title {
        font-size: 16px
    }

    .product_item .image {
        width: 90px;
        height: 110px;
    }

    .product_item .price_block .price {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .product_item {
        position: relative;
        flex-direction: column;
        justify-content: center;
    }

    .product_item:not(:last-child) {
        border-bottom: 1px solid #E7E7E7;
    }

    .product_item .product_info {
        flex-direction: column;
        justify-content: center;
        flex: unset;
    }

    .product_item .image {
        width: 120px;
        height: 160px;
    }

    .product_item .title {
        font-size: 18px;
        text-align: center;
    }

    .product_item .tags {
        justify-content: center;
    }

    .button_delete {
        position: absolute;
        top: 36px;
        right: 24px;
    }

    .product_item .price_block {
        text-align: center;
    }

    .product_item .price_block .discount {
        text-align: center;
    }

    .product_item .price_block .price {
        font-size: 20px;
    }

    .product_item .summary_block {
        min-width: 0;
        margin-left: 0;
        row-gap: 16px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .product_item .price_block {
        width: auto;
    }
}

.availability_alert {
    margin-top: 10px;
    color: #F04438;
    font-size: 14px;
    font-weight: 500;
}
