.header {
    display: grid;
    grid-template-columns: 1fr 125px 1fr;
    align-items: center;
    padding: 22px 12px;
    position: relative;
    z-index: 100
}

@media (max-width: 992px) {
    .header {
        grid-template-columns: 1fr 116px 1fr;
        padding: 16px 24px 8px;
    }
}

.logo_block a {
    display: inline-block;
}
