
.menu {
    text-transform: uppercase;
}

.menu a {
    display: inline-block;
    padding: 6px 24px;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.menu a:hover {
    color: var(--primary-color);
}

.m_menu {
    display: none;
}

@media (max-width: 992px) {

    .menu {
        display: none;
    }

    .m_menu {
        display: block;
    }
}
