.header {
    display: grid;
    grid-template-columns: 1fr 120px 1fr;
    align-items: center;
    padding: 22px 12px;
}

.header .menu {
    text-transform: uppercase;
}

.header .menu a {
    display: inline-block;
    padding: 6px 24px;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.header .menu a:hover {
    color: var(--primary-color);
}

/* */

.header .sub_menu {
    text-align: right;
    padding-right: 24px;
}

.header .sub_menu .cart_icon_block {
    display: inline-flex;
    cursor: pointer;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
}

.header .sub_menu .cart_icon_block .cart_path_one {
    fill: #090909;
    transition: all .3s ease-in-out;
}

.header .sub_menu .cart_icon_block .cart_path_two {
    stroke: #363A42;
    transition: all .3s ease-in-out;
}

.header .sub_menu .cart_icon_block:hover .cart_path_one {
    fill: var(--primary-color);
}

.header .sub_menu .cart_icon_block:hover .cart_path_two {
    stroke: var(--primary-color);
}
