.menu_wrapper {
    position: relative;
}

.menu {
    text-transform: uppercase;
}

.menu a, .menu div {
    display: inline-block;
    padding: 30px 24px;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.menu a:hover,
.menu .collection_trigger:hover {
    color: var(--primary-color);
}

.menu .collection_trigger {
    color: inherit;
}

@media (max-width: 992px) {
    .menu_wrapper {
        display: none;
    }

    .menu {
        display: none;
    }
}