.page {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    padding: 24px 2rem 48px;
}

.title {
    text-transform: uppercase;
    font-size: 42px;
    line-height: 1;
    margin-bottom: 12px;
}

.subtitle {
    color: var(--secondary-color);
    margin-bottom: 24px;
}

.empty {
    padding: 48px 24px;
    border: 1px solid #E7E7E7;
    text-align: center;
    color: var(--secondary-color);
}

@media (max-width: 992px) {
    .title {
        font-size: 28px;
    }
}
