.collection_menu {
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid #DCDCDC;
    padding: 25px 12px;
    z-index: 110;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.collection_list {
    display: grid;
}

.collection_column {

}

.collection_column .collection_root_link {
    display: inline-block;
    padding: 10px 24px;
    font-size: 14px;
    line-height: 81%;
    vertical-align: middle;
    color: var(--secondary-color);
    transition: color 0.3s ease-in-out;
}

.collection_column .collection_root_link:hover {
    color: var(--primary-color);
}

.collection_column .collection_sublist {
    display: grid;
}

.collection_column .collection_sublist .collection_subitem {
    display: inline-block;
    padding: 10px 32px;
    font-size: 14px;
    line-height: 81%;
    vertical-align: middle;
    color: #5C5C5C;
    transition: color 0.3s ease-in-out;
}

.collection_column .collection_sublist .collection_subitem:hover {
    color: var(--primary-color);
}


.collection_banner .banner {
    height: 100%;
    width: 100%;
    background: green;
    border-radius: 5px;
}


@media (max-width: 992px) {
    .collection_menu {
        display: none;
    }
}