.banner {
    padding: 0 12px;
}

.banner .banner_image {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.banner .banner_image::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / 1.94);
}

.banner .banner_image img {
    width: 100%;
}
